body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    /* flex-direction: row; */
}

.header-center {
    display: flex;
    margin-left: auto;
    color: white;
}

.header-right {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding: 0.5%;
    color: white;
    gap: 1vw;
}

